@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20rem;
}
