@tailwind base;
@tailwind components;
@tailwind utilities;

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "popins", sans-serif; */
  font-family: poppins, sans-serif;
  background-color: #f7fafc;
  /* padding: 0 1rem; */
}

.navLink.active {
  border-bottom: 2px solid #f5f5f5;
}
